
            <style type="text/css">
                .myfridge__main-image{
                    justify-content: center;
                    margin-top:20px;
                }
                .add-fridge_but-nav-group{
                    font-size:20px;
                    font-weight: 500;
                }
                .add-fridge_but-nav-group>div{
                    padding:10px;
                }
                .add-fridge_but-nav-group>div>a{
                    padding-left:10px;
                    padding-right:10px;
                }
                /* DEMAT*/
                .btn-flat,.btn-flat i{
                    font-size:inherit;
                }
                .btn-flat{
                    padding: 0;
                }
                .btn-flat i{
                    font-size: 26px;
                }
            </style>
            <div class="row">
                <div class="col s12 valign-wrapper myfridge__main-image">
                    <img class="s12" src="https://image.flaticon.com/icons/svg/148/148131.svg" width="150px">
                </div>

                <h4 class="col s12 center-align">Fridge description</h4>

            </div>
            <form>
              <div class="row">
                <div class="input-field col s12">
                    <input value="My Fridge 1" id="fridge_name" type="text" class="validate">
                    <label for="fridge_name">Fridge Name</label>
                </div>
              </div>
            </form>

            <div class="flexFillGrow"></div>
            <div class="add-fridge_but-nav-group">
                    <div class="left">
                         <a class="waves-effect waves-teal btn-flat"><i class="material-icons">chevron_left</i></a>
                    </div>
                    <div class="right">
                         <a class="waves-effect waves-teal btn-flat add-fridge-next-step"><p class="left">NEXT</p> <i class="material-icons">chevron_right</i></a>
                    </div>
            </div>