<style>
    
.profile{
        margin: 0;
    }

</style>

<div class="row profile" style="border-bottom: 1px solid #00685b;">
                <div class="col s2" style="color: #00685b; font-size: 16px; padding-top: 10px; font-weight: 500; text-align: left;" >
                    <i style="padding-left: 10px" class="btn-go-back small material-icons">keyboard_arrow_left</i>
                </div>
                <div class="col s8" style="color: black;font-weight: 500; font-size: 18px; padding-top: 10px;  text-align: left; " >
                    <p style="">Email</p>
                </div>
                <div class="col s2" style="color: #00685b; font-size: 16px; padding-top: 10px; font-weight: 500; text-align: left;" >
                    <i style="padding-right: 10px" class="btn-go-back small material-icons">check</i>
                </div>
            </div>
            <div class="row profile">
                <div class="col s12" style="color: #00685b; font-size: 16px; padding-top: 10px; font-weight: 500; text-align: left;" >
                    <form>
                        <input style="text-align: center; border: 1px solid #00685b; border-radius: 2px;" type="text" value="thaodo049@yahoo.com">
                    </form>
                </div>
            </div>