<style>
    
.profile{
        margin: 0;
    }

</style>
<div class="row profile" style="border-bottom: 1px solid #00685b;">
    <div class="col s2" style="color: #00685b; font-size: 16px; padding-top: 10px; font-weight: 500; text-align: left;" >
        <i style="padding-left: 10px" class="btn-go-back small material-icons">keyboard_arrow_left</i>
    </div>
    <div class="col s8" style="color: black;font-weight: 500; font-size: 18px; padding-top: 10px;  text-align: left; " >
        <p style="">Password</p>
    </div>
    <div class="col s2" style="color: #00685b; font-size: 16px; padding-top: 10px; font-weight: 500; text-align: left;" >
        <i style="padding-right: 10px" class="btn-go-back small material-icons">check</i>
    </div>
</div>
<div class="row profile">
    <div class="col s12" style="color: #00685b; font-size: 16px; padding-top: 10px; font-weight: 500; text-align: left;" >
        <form>
            <p>Current password</p>
            <input id="myInput1" class="col s12" style="text-align: center; border: 1px solid #00685b; border-radius: 2px;" type="password" value="SuperEasyToHackPassword" >
            <i onclick="myFunction1()" style="padding-top:7px; right:30px; position: absolute;" class="small material-icons">remove_red_eye</i>
        </form>
    </div>
</div>
<div class="row profile">
    <div class="col s12" style="color: #00685b; font-size: 16px; padding-top: 10px; font-weight: 500; text-align: left;" >
        <form>
            <p>New password</p>
            <input id="myInput2" class="col s12" style="text-align: center; border: 1px solid #00685b; border-radius: 2px;" type="password" value="SuperEasyToHackPassword" >
            <i onclick="myFunction2()" style="padding-top:7px; right:30px; position: absolute;" class="small material-icons">remove_red_eye</i>
        </form>
    </div>
</div>
<div class="row profile">
    <div class="col s12" style="color: #00685b; font-size: 16px; padding-top: 10px; font-weight: 500; text-align: left;" >
        <form>
            <p>Confirm password</p>
            <input id="myInput3" class="col s12" style="text-align: center; border: 1px solid #00685b; border-radius: 2px;" type="password" value="SuperEasyToHackPassword" >
            <i onclick="myFunction3()" style="padding-top:7px; right:30px; position: absolute;" class="small material-icons">remove_red_eye</i>
        </form>
    </div>
</div>
<script>

function myFunction1() {
    var x = document.getElementById("myInput1");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }}
function myFunction2() {
    var x = document.getElementById("myInput2");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
}
function myFunction3() {
    var x = document.getElementById("myInput3");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
}
</script>