
            <style>
    .main {
        background-color: darkgrey;
    }
    
    .fridge-collection {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 15px;
        max-width: 100%;
        overflow-x: hidden;
    }
    
    .row-fridge-collection {
        margin-bottom: 0;
    }
    
    .item-expiry-date {
        text-align: right;
    }
    
    .collection .fridge-item {
        padding: 12px 10px;
    }
    
    .btn-add-product {
        position: fixed;
        bottom: 0;
        margin-bottom: 20px;
        margin-right: 15px;
        right: 0;
    }

    .removableFridgeItem{
        position:relative;
    }
    .fridge-item_deletionDiv{
        position: absolute;
        left: 100%;
        top: 0;
        height:46px;
        background-color:red;
        padding-left:15px;
        min-width:120px;
    }

</style>
<ul class="collection fridge-collection">
    <li class="collection-item fridge-item removableFridgeItem">
        <div class="row row-fridge-collection valign-wrapper">
            <div class="col s6 truncate">Smoked Turkey that I super duper hate</div>
            <div class="col s3 center-align truncate">200 gram</div>
            <div class="col s3 item-expiry-date truncate">30 days</div>
        </div>
        <div class="fridge-item_deletionDiv valign-wrapper"><i class="material-icons">delete</i>delete</div>
    </li>
    <li class="collection-item fridge-item removableFridgeItem">
        <div class="row row-fridge-collection valign-wrapper">
            <div class="col s6 truncate">Smoked Turkey that I super duper hate</div>
            <div class="col s3 center-align truncate">200 gram</div>
            <div class="col s3 item-expiry-date truncate">30 days</div>
        </div>
        <div class="fridge-item_deletionDiv valign-wrapper"><i class="material-icons">delete</i>delete</div>
    </li>
    <li class="collection-item fridge-item removableFridgeItem">
        <div class="row row-fridge-collection valign-wrapper">
            <div class="col s6 truncate">Smoked Turkey that I super duper hate</div>
            <div class="col s3 center-align truncate">200 gram</div>
            <div class="col s3 item-expiry-date truncate">30 days</div>
        </div>
        <div class="fridge-item_deletionDiv valign-wrapper"><i class="material-icons">delete</i>delete</div>
    </li>
    <li class="collection-item fridge-item removableFridgeItem">
        <div class="row row-fridge-collection valign-wrapper">
            <div class="col s6 truncate">Smoked Turkey that I super duper hate</div>
            <div class="col s3 center-align truncate">200 gram</div>
            <div class="col s3 item-expiry-date truncate">30 days</div>
        </div>
        <div class="fridge-item_deletionDiv valign-wrapper"><i class="material-icons">delete</i>delete</div>
    </li>
    <li class="collection-item fridge-item removableFridgeItem">
        <div class="row row-fridge-collection valign-wrapper">
            <div class="col s6 truncate">Smoked Turkey that I super duper hate</div>
            <div class="col s3 center-align truncate">200 gram</div>
            <div class="col s3 item-expiry-date truncate">30 days</div>
        </div>
        <div class="fridge-item_deletionDiv valign-wrapper"><i class="material-icons">delete</i>delete</div>
    </li>
    <li class="collection-item fridge-item removableFridgeItem">
        <div class="row row-fridge-collection valign-wrapper">
            <div class="col s6 truncate">Smoked Turkey that I super duper hate</div>
            <div class="col s3 center-align truncate">200 gram</div>
            <div class="col s3 item-expiry-date truncate">30 days</div>
        </div>
        <div class="fridge-item_deletionDiv valign-wrapper"><i class="material-icons">delete</i>delete</div>
    </li>
    <li class="collection-item fridge-item removableFridgeItem">
        <div class="row row-fridge-collection valign-wrapper">
            <div class="col s6 truncate">Smoked Turkey that I super duper hate</div>
            <div class="col s3 center-align truncate">200 gram</div>
            <div class="col s3 item-expiry-date truncate">30 days</div>
        </div>
        <div class="fridge-item_deletionDiv valign-wrapper"><i class="material-icons">delete</i>delete</div>
    </li>
    <li class="collection-item fridge-item removableFridgeItem">
        <div class="row row-fridge-collection valign-wrapper">
            <div class="col s6 truncate">Smoked Turkey that I super duper hate</div>
            <div class="col s3 center-align truncate">200 gram</div>
            <div class="col s3 item-expiry-date truncate">30 days</div>
        </div>
        <div class="fridge-item_deletionDiv valign-wrapper"><i class="material-icons">delete</i>delete</div>
    </li>
    <li class="collection-item fridge-item removableFridgeItem">
        <div class="row row-fridge-collection valign-wrapper">
            <div class="col s6 truncate">Smoked Turkey that I super duper hate</div>
            <div class="col s3 center-align truncate">200 gram</div>
            <div class="col s3 item-expiry-date truncate">30 days</div>
        </div>
        <div class="fridge-item_deletionDiv valign-wrapper"><i class="material-icons">delete</i>delete</div>
    </li>
    <li class="collection-item fridge-item removableFridgeItem">
        <div class="row row-fridge-collection valign-wrapper">
            <div class="col s6 truncate">Smoked Turkey that I super duper hate</div>
            <div class="col s3 center-align truncate">200 gram</div>
            <div class="col s3 item-expiry-date truncate">30 days</div>
        </div>
        <div class="fridge-item_deletionDiv valign-wrapper"><i class="material-icons">delete</i>delete</div>
    </li>
    <li class="collection-item fridge-item removableFridgeItem">
        <div class="row row-fridge-collection valign-wrapper">
            <div class="col s6 truncate">Smoked Turkey that I super duper hate</div>
            <div class="col s3 center-align truncate">200 gram</div>
            <div class="col s3 item-expiry-date truncate">30 days</div>
        </div>
        <div class="fridge-item_deletionDiv valign-wrapper"><i class="material-icons">delete</i>delete</div>
    </li>
    <li class="collection-item fridge-item removableFridgeItem">
        <div class="row row-fridge-collection valign-wrapper">
            <div class="col s6 truncate">Smoked Turkey that I super duper hate</div>
            <div class="col s3 center-align truncate">200 gram</div>
            <div class="col s3 item-expiry-date truncate">30 days</div>
        </div>
        <div class="fridge-item_deletionDiv valign-wrapper"><i class="material-icons">delete</i>delete</div>
    </li>
    <li class="collection-item fridge-item removableFridgeItem">
        <div class="row row-fridge-collection valign-wrapper">
            <div class="col s6 truncate">Smssssssey that I super duper hate</div>
            <div class="col s3 center-align truncate">200 gram</div>
            <div class="col s3 item-expiry-date truncate">30 days</div>
        </div>
        <div class="fridge-item_deletionDiv valign-wrapper"><i class="material-icons">delete</i>delete</div>
    </li>

</ul>
<a class="btn-floating btn-large waves-effect waves-light btn-add-product z-depth-3"><i class="material-icons">add</i></a>
<script src="https://hammerjs.github.io/dist/hammer.js"></script>
<script type="text/javascript">
var fridgeItemsSwipe = {};

fridgeItemsSwipe.prepare = function(){
    function dragElement(event){
        var element = event.target;
        element.style.left = event.deltaX+'px';
    }
    function deleteElement(element){
        element.style.display = 'none';
    }
    function resetElement(element){
        element.style.left = 0;
    }
    
    $.each($(".removableFridgeItem"), function (index, value){
        var domObject = $(".removableFridgeItem")[index];
        
        //prevent default on swipe/drag up/down
        var hammertime = new Hammer(domObject, {preventDefault: true});
        hammertime.on("dragup dragdown swipeup swipedown", function(ev){});

        //do stuff on swipe/drag left/right
        var newHammer = new Hammer (domObject);
        newHammer.on("panstart panend panleft panright", function(ev2){
            console.log(ev2);
            if (ev2.type == "panend"){
                if(ev2.deltaX < -120){
                    deleteElement(domObject);
                }else{
                    resetElement(domObject);
                }
            }else{
                if(ev2.center.x == 0 && ev2.center.y ==0){
                }else{
                    var x = $(".main").find(ev2.target).closest('.removableFridgeItem');
                    x.css("left",ev2.deltaX+"px");
                }   
            }
        });
    });
}

fridgeItemsSwipe.prepareWhenReady = function() {
    document.addEventListener("DOMContentLoaded", fridgeItemsSwipe.prepare);
};

fridgeItemsSwipe.prepareWhenReady();

</script>