 <style>
        #senpai2{
            display: block;
        }
     #senpai2 {
        background-color: #00685b;
        min-height: 100%;
        width: 100%;
        color:white;
    }
    
    #senpai2 h5{
        margin-top: 36px;
        margin-bottom:16px;
    }

    .intro-text {
        width: 40%;
    }
    
    .main {
        display: flex;
        flex-direction: column;
        height: calc(100% - 56px);
        width: 100%;
        background-color:white;
    }
    
    .collection-store {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        border: none;
        overflow: hidden;

    }
    .collection-store .collection-item{
        height: 40px;
    }
    
    .collection-store .col {
        padding: .75rem;
    }
    
    .collection-stores {
        margin-bottom: 60px;
        overflow: hidden;

    }
    
     .collection-stores ul{
        border-bottom: .4px solid #e0e0e0;

    }
    .store-img-wrap {
        width: 30%;
        height: 100%;
            min-width: 80px;
    }
    
    .store-img-wrap img {
        float: left;
        height: 100%;
    }
    .store-text{
        width: 40%;
    }
    .storeConnectionBtn {
        width: 40%;
         text-align: right;
    }
    
    .storeConnectionBtn.connect a {
        float: right;
        background-color: #ffba34;
    }

    .storeConnectionBtn.connect a:hover{
        background-color: #ffba34;
    }
    
    .add-fridge_but-nav-group {
        font-size: 20px;
        font-weight: 500;
        width: 100%;
        bottom: 0;
        position: fixed;
        z-index: 2;
    }
    
    .add-fridge_but-nav-group>div {
        padding: 6px;
    }
    
    .add-fridge_but-nav-group>div>a {
        padding-left: 10px;
        padding-right: 10px;
    }
    /* DEMAT*/
    
    .btn-flat,
    .btn-flat i {
        font-size: inherit;
    }
    
    .btn-flat {
        color: #00685B;
        padding: 0;
    }
    
    .btn-flat i {
        font-size: 26px;
    }
    /***************profile*****************/
    .profile{
        margin: 0;
    }
    </style>
 <div class="row profile">
    <div class="col s12" style="color: #00685b; font-size: 16px; padding-top: 20px; padding-bottom: 4px; font-weight: 500; text-align: left; margin-bottom: 10px; border-bottom: 1px solid #00685b;" >
        <p style=" padding-left:10px;">PROFILE</p>
    </div>
    <div class="btn-change-name col s4" style="color: black; font-size: 15px; padding-top: 10px; padding-bottom: 10px; text-align: left; border-bottom: 1px solid #e0e0e0;" >
        <p style=" padding-left:10px;">Name</p>
    </div>
    <div class="btn-change-name col s8" style="color: black; font-size: 15px; padding-top: 10px; padding-bottom: 10px; text-align: left; border-bottom: 1px solid #e0e0e0;" >
        <p>Thao Do Vu Phuong</p>
    </div>
    <div class="btn-change-email col s4" style="color: black; font-size: 15px; padding-top: 10px; padding-bottom: 10px; text-align: left; border-bottom: 1px solid #e0e0e0;" >
        <p style=" padding-left:10px;">Email</p>
    </div>
    <div class="btn-change-email col s8" style="color: black; font-size: 15px; padding-top: 10px; padding-bottom: 10px; text-align: left; border-bottom: 1px solid #e0e0e0;" >
        <p>thaodo0492@yahoo.com</p>
    </div>
    <div class="btn-change-pass col s4" style="color: black; font-size: 15px; padding-top: 10px; padding-bottom: 10px;  text-align: left; " >
        <p style=" padding-left:10px;">Password</p>
    </div>
    <div class="btn-change-pass col s8" style="color: black; font-size: 15px; padding-top: 10px; padding-bottom: 10px; text-align: left;" >
        <p>*********</p>
    </div>
</div>